In [16]:
# pip install openpyxl

import pandas as pd

raw= pd.read_excel('product.xlsx',engine='openpyxl')

# 특정 컬럼에 있는 데이터를 가지고 새로운 컬럼을 만들 수 있는 방법

# 방법1 
raw['부가세포함'] =raw['판매가'] * 1.1 

# 방법2 함수 사용
def 함수(data):
  return data * 1.1
raw['부가세포함']=raw['판매가'].apply(함수)

# 특정 컬럼에 있는 데이터를 가지고 새로운 컬럼을(카테고리) 만들 수 있는 방법
# 방법 3 '정규식'(regex) 사용

# 'abc'가 'abcdef'에 들어있는지 검사해주는 정규식
# a = re.search('abc','abcdef')
# print(a) # print: <re.Match object; span=(0, 3), match='abc'>

import re

def 카테고리목록생성함수(data):
  # 어 .. 만약에 상품목록이 7102 Metal Chair면 '의자'를 리턴하기
  if(re.search('Chair',str(data))):
    return '의자'
  if (re.search('Table',str(data))):
    return '테이블'
  

raw['카테고리'] = raw['상품목록'].apply(카테고리목록생성함수)

raw

           날짜    판매가                  상품목록  카테고리    부가세포함
0  2022-01-25  67000      7102 Metal Chair    의자  73700.0
1  2022-01-26  69000      7103 Brass Chair    의자  75900.0
2  2022-01-27  69000      7103 Brass Chair    의자  75900.0
3  2022-01-28  69000     7103 Brass Chair     의자  75900.0
4  2022-01-29  45000  Post Modern Table 34   테이블  49500.0
5  2022-01-30  32000       Wooden Table 34   테이블  35200.0
6  2022-01-31  33000       Wooden Table 36   테이블  36300.0
7  2022-02-01  32000        Glass Table 32   테이블  35200.0
8  2022-02-02  59000      Long Red Mirror   None  64900.0
9  2022-02-03  59000       Long Red Mirror  None  64900.0
10 2022-02-04  58000     Shimmering Mirror  None  63800.0
11 2022-02-05  88000       Blue Frame Sofa  None  96800.0
12 2022-02-06  88000       Blue Frame Sofa  None  96800.0
13 2022-02-07  88000       Blue Frame Sofa  None  96800.0
14 2022-02-08  88000  Leather Cushion Sofa  None  96800.0
15 2022-02-08  41000             222335555  None  45100.0